                <article>
                    <h3>{{PART_TYPE}}</h3>
                    <ul>
                        <li><i>Number:</i> <em>{{PART_NUMBER}}</em></li>
                        <li><i>Color:</i> <em>{{PART_COLOR}}</em></li>
                        <li><i>Category:</i> <em>{{PART_CATEGORY}}</em></li>
                        </ul>
                    <img src="{{IMAGE_SRC}}"/>
                    <div>
                        <button onclick="hidePart(this.parentElement.parentElement)">✔️ Done?</button>
                        <mark>{{QUANTITY}}</mark>
                    </div>
                </article>