<html>
    <head>
        <style>
            body {
                font-family: monospace;
            }
            section > h2 > i:not(:empty)::before {
                content: " : ";
            }
            section.unfolded > h2::before {
                content: ". ";
            }
            section.unfolded > h2 {
                cursor: zoom-out;
            }
            section.unfolded > div {
                display: flex;
            }
            section.folded > h2::before {
                content: "> ";
            }
            section.folded > h2 {
                cursor: zoom-in;
            }
            section.folded > div {
                display: none;
            }
            section > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
            }
            article {
                flex: 10em 0 0;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
                margin: 5px;
                padding: 5px;
                border-width: thin;
                border-style: solid;
                border-color: black;
                border-radius: 5px;
            }
            article > ul {
                list-style: none;
                padding-inline: inherit;
            }
            article > ul > li > em {
                font-style: inherit;
                font-weight: bold;
            }
            article > img {
                width: 10em;
                align-self: center;
            }
            article > div {
                width: 100%;
                align-self: flex-end;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            }
            article > div > button {
                font-size: 1em;
            }
            article > div > mark {
                width: fit-content;
                margin-right: -5px;
                margin-bottom: -5px;
                padding: 5px;
                border-top: solid thin;
                border-left: solid thin;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 5px;
                font-size: 2em;
                font-weight: bold;
                color: firebrick;
            }
            article.hidden {
                display: none;
            }
        </style>
        <script>
            function toggleStorage(element) {
                element.className = (element.className === "unfolded") ? "folded" : "unfolded";
            }
            function toggleAll() {
                const storages = document.getElementsByTagName("section");
                for (let i = 0; i < storages.length; i++) {
                    toggleStorage(storages[i]);
                }
            }
            function hidePart(element) {
                element.className = "hidden";;
            }
        </script>
    </head>
    <body onload="toggleAll()">
        <h1>Sorting result from {{DATE}}</h1>
        {{SECTIONS}}
    </body>
</html>