        <section class="unfolded">
            <h2 onclick="toggleStorage(this.parentElement)">
                {{STORAGE_NAME}}
                <i>{{STORAGE_DESCRIPTION}}</i>
            </h2>
            <div>
                {{PARTS}}
            </div>
        </section>